* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #172c6b;
    overflow-x: hidden;
}

.form_login {
    padding-left: 5vw;
    position: absolute;
    left: 55vw;
    bottom: 0vh;
    background-color: #ffffff;
    width: 70vw;
    height: 100vh;


}

.descricao_login {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 22px;
    display: inline-block;
    width: 100%;
    text-shadow: 1px 1px 20px #000000;
    color: #030131;
}

.input_login {
    box-shadow: 1px 1px 10px #000000;
    border-radius: 10px;
    background-color: #000000;
    font-size: large;
    color: white;
    width: 30vw;
    height: 8vh;
    border: black solid;
}

.formulario_login {
    margin-top: 20vh;
    display: block;
    padding-top: 5vw;
}

.formulario_login_dois {
    display: block;
    padding-top: 2vh;
}

/*#enviar_login {*/
/*    margin-top: 10vh;*/
/*    border: 2px solid black;*/

/*}*/
.logo {
    width: 13vw;
    height: 20vh;
    margin-left: 1vw;
}

.mensagem_flash {
    position: absolute;
    display: inline-block;
    background-color: #ff0000;
    transition: all .5s;
}


#enviar_login {
    font-size: 22px;
    margin-bottom: 1vh;
    margin-top: 6vh;
    background-color: #000000;
    width: 15vw;
    height: 6.5vh;
    margin-left: 1vw;
    border-radius: 10px;
    border: 3px solid #000000;
    color: #ffffff;
    transition: all .5s;

}

#enviar_login:active {
    background-color: #1c1c5d;
    color: white;
}

#enviar_login:hover {
    transform-origin: center;
    transform: scale(1.2);
    transition: transform 2s unset;
    text-shadow: 1px 1px 5px #ffffff;
}

.cadastrar {
    position: absolute;
    right: 37vw;
    bottom: 29.8vh;
}

#cadastrar {
    display: grid;
    font-size: 22px;
    background-color: #000000;
    width: 15vw;
    height: 5.8vh;
    border-radius: 10px;
    border: 3px solid #000000;
    color: #ffffff;
    transition: all .5s;
    place-items: center;
}

#cadastrar:active {
    background-color: #1c1c5d;
    color: white;
}

#cadastrar:hover {

    transform-origin: center;
    transform: scale(1.2);
    transition: transform 2s unset;
    text-shadow: 1px 1px 5px #ffffff;
}

.cadastrar {
    text-decoration: none;

}


.titulo {
    font-weight: bold;
    color: white;
    margin-left: 10vw;
    text-shadow: 1px 1px 10px #000000;
}

.texto_explicativo {
    color: white;
    text-shadow: 1px 1px 5px #000000;
    margin-left: 10vw;
    font-weight: bold;
}

.icon-container {
    position: absolute;
    left: 10vw;
    bottom: 30vh;

}

.tooltip {
    position: absolute;
    bottom: 110%;
    transform: translateX(-50%) translateY(10px); /* Ajusta centralização e início fora de vista */
    background-color: #7499f5;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.icon-container:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0); /* Traz o texto de dentro para fora */
}

.icon-container_dois {
    position: absolute;
    left: 13vw;
    bottom: 30vh;
}

.icon-container_tres {
    position: absolute;
    left: 16vw;
    bottom: 30vh;
}

.icon-container_quatro {
    position: absolute;
    left: 19vw;
    bottom: 30vh;
}

.icon-container_dois:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0); /* Traz o texto de dentro para fora */
}

.icon-container_tres:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0); /* Traz o texto de dentro para fora */
}

.icon-container_quatro:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0); /* Traz o texto de dentro para fora */
}


    .flash-message {
    top: 10vh;
    right: 45vw;
    display: inline-block;
    position: absolute;
    padding: 15px;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0;
    text-shadow: 1px 1px 10px white;
}

.flash-message .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

