{% extends 'home.html' %}


{% block conteudo %}

{%- for mensagem in get_flashed_messages() -%}
    {{mensagem}}
{%- endfor %}



<form class="form_atualizar_categoria" method="POST" action="{{ url_for('atualizar_categoria',id_categoria = categoria_editado.id_categoria) }}">
    <div class="container_atualizar_categoria">
        <label class="descricao_atualizar_categoria" for="nome">nome da categoria:</label>
        <input class="input_atualizar_categoria" type="text" id="nome" name="nome" value="{{ categoria_editado.nome }}">

        <button class="registrar_funcionario" id="enviar"  value="Registrar"> registrar</button>
    </div>
</form>


{% endblock%}