{% extends 'home.html' %}


{% block conteudo %}

{%- for mensagem in get_flashed_messages()%}
    <div class="flash-message">
        {{ mensagem }}
        <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
    </div>
    {%- endfor %}


<form  method="POST" action="{{ url_for('cadastrar_funcionario') }}">

    <div class="formulario_funcionarios">
        <div class="formulario_funcionario_forms" >
            <label class="descricao_funcionario" for="quantidade_produto">nome do funcionario:</label>
            <input class="input_funcionario" type="text" id="quantidade_produto" name="nome_funcionario">
        </div>
        <div class="formulario_funcionario_forms" >
            <label class="descricao_funcionario" for="CNPJ_fornecedor">CPF do funcionario:</label>
            <input class="input_funcionario" type="number" id="CNPJ_fornecedor" name="CPF">
        </div>
        <div class="formulario_funcionario_forms" >
            <label class="descricao_funcionario" for="id_funcionario">salario do funcionario:</label>
            <input class="input_funcionario" type="number" id="id_funcionario" name="salario">
        </div>


        <button class="registrar_funcionario"  id="enviar" type="submit" value="Registrar">resgistrar </button>
    </div>
</form>


{% endblock%}


