{% extends 'home.html' %}


{% block conteudo %}

{%- for mensagem in get_flashed_messages()%}
    <div class="flash-message">
        {{ mensagem }}
        <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
    </div>
    {%- endfor %}
<form method="POST" action="{{ url_for('cadastrar_fornecedor') }}">




    <div class="container_cadastrar_fornecedor">
        <div class="formulario_cadastrar_fornecedor" >
            <label class="descricao" for="nome_fornecedor">nome do fornecedor:</label>
            <input class="input_movimentacao" type="text" id="nome_fornecedor" name="nome_fornecedor" >
        </div>
        <div class="formulario_cadastrar_fornecedor" >
            <label class="descricao" for="CNPJ_fornecedor">CNPJ:</label>
            <input class="input_movimentacao" type="number" id="CNPJ_fornecedor" name="CNPJ_fornecedor" >
        </div>


        <button class="registrar_funcionario" id="enviar" type="submit" value="Registrar">registrar</button>
    </div>
</form>


{% endblock%}