{% extends 'home.html' %}


{% block conteudo %}


{%- for mensagem in get_flashed_messages()%}
<div class="flash-message">
    {{ mensagem }}
    <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
</div>
{%- endfor -%}
<div  class="produto_deletar">
    {% if categoria_deletar %}

    <p class="texto_deletar_produto" >Tem certeza que deseja deletar {{ categoria_deletar.nome }} </p>

    {% endif %}
</div>
<div class="container_deletar">
    <form method="post" action="{{url_for('deletar_categoria', id_categoria = categoria_deletar.id_categoria )}}">
        <button class="registrar_funcionario1" name="acao" id="enviar_delete" type="submit" value="deletar">deletar</button>
        <button class="registrar_funcionario2" name="acao" id="cancelar_delete" type="submit" value="cancelar">cancelar</button>
    </form>
</div>
{% endblock %}