{% extends 'home.html' %}


{% block conteudo %}


{% for item in atributos_movimentacao_saida %}


<div class="card4">

{% for movimentacao, funcionario, produto in atributos_movimentacao_saida %}
    id :{{ movimentacao.id_movimentacao }}
    data {{ movimentacao.data_movimentacao }}
    quantidade {{ movimentacao.quantidade_produto }}
    id {{ movimentacao.id_produto}} produto {{ produto.descricao }}
    id funcionario{{ movimentacao.id_funcionario }} nome do funcionario {{ funcionario.nome_funcionario }}
    <br>

    {% endfor %}


</div>









{% endfor %}
{% endblock%}










