{% extends 'home.html' %}

{% block conteudo %}

{%- for mensagem in get_flashed_messages()%}
<div style="top: 10px" class="flash-message">
    {{ mensagem }}
    <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
</div>
{%- endfor %}




<div class="tabela-container">
    <table  >
        <thead>
            <tr>
                <th>id</th>
                <th>descrição</th>
                <th>valor</th>
                <th>quantidade</th>
                <th>categoria</th>
                <th>id categoria</th>
                <th>opções</th>
                <th>opções</th>
            </tr>
        </thead>
        <tbody>
            {% for item in atributos_produto %}
            <tr>
                <td>{{ item.produto.id_produto }}</td>
                <td>{{ item.produto.descricao }}</td>
                <td>R$ {{ item.produto.valor_produto }}</td>
                <td>{{ item.produto.quantidade_produto }}</td>
                {% if item.categoria %}
                <td>{{ item.categoria.nome }}</td>
                <td>{{ item.produto.categoria_id }}</td>
                {% endif %}
                <td><a style="text-decoration: none; color: white; " href="{{ url_for('deletar_produto', id_produto=item.produto.id_produto) }}">deletar</a></td>
                <td><a  style="text-decoration: none; color: white; " href="{{ url_for('atualizar_produto', id_produto=item.produto.id_produto) }}">editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<a class="cadastrar_produto_novo" href="produtos/cadastrar">cadastrar produto</a>


{% endblock %}
